.section__employee {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px 0;
  background-color: #fff;
  margin: 10px 0;
  column-gap: 20px;
  font-size: 17px;
  border-radius: 5px;
  &-name {
    width: 150px;
  }
  &-job {
    width: 250px;
  }
  &-placework {
    width: 100px;
  }
  &-tel {
    width: 150px;
  }
  &-email {
    width: 200px;
  }
}
